.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .name {
  margin-bottom: 0;
}

.entity {
  display: flex;
  gap: 5px;
}

.inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
