.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cancelButton {
  margin-right: auto;
}

.container .divider {
  margin: 10px 0;
}
