@import "reset";
@import "variables/global";

.body {
  font: var(--font-m);
  color: var(--color-text-base);
}

.app {
  background-color: var(--color-background-base);
  height: 100vh;
  padding: 20px;
}
